{% extends "base.html" %}

{% block content %}

<section class="container content-box">
    <div class="content-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in t_liste_chauffeurs %}
                <tr>
                    {% if ligne[0] == 'Homme' %}
                        {% for item in ligne [1:] %}
                            <td class = "homme">{{ item }}</td>
                        {%endfor%}
                    {% else %}
                        {% for item in ligne [1:] %}
                            <td class = 'femme'>{{ item }}</td>
                        {%endfor%}
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div> 
    <div class = "content">
        <div class = "KPI">
            <p>Nombre total de kilomètres : <span class="valeur_KPI">{{ t_kms_total }}</span> </p>
            <p>Nombre de chauffeurs enregistrés : <span class="valeur_KPI">{{ t_liste_nb_chauffeurs  }}</span></p>
        </div>
    
        <div>
            <canvas id="myChart" class="mychart" ></canvas>
            <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
            <script type="text/javascript">monGraphique =  graphCamionKilometres({{t_camions|tojson}}, {{t_kms_camion|tojson}})</script>
        </div>
    </div>
</section>






    
{% endblock %}